@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.about_me_{
    background: rgb(255, 255, 255);
    color: rgb(41, 24, 24);
    height: 85vh;
    width: 98vw;
    font-family: 'Poppins', sans-serif;
    .sobremi_tittle{
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.035em;
        padding-top: 60px;
        .history_span{
            font-weight: 460;
        }
        .sobremi_span{
            font-weight: 900;
        }
        
    }
    .habilidades_{
        display: flex;
        justify-content: space-between;
        padding: 0 17% 0 17%;
        margin-top: 5%;
        color: #5d5d5d;
        .biblio{
            width: 45%;
            text-align: left;
            text-indent: 1.1em;
            font-size: 14px;
            line-height: 20px;          
        }
        .skills{
            width: 45%;     
            .coding{
                font-size: 25px;
                display: block;
                text-align: left;
                font-weight: 400;
                text-transform: uppercase;
                border-bottom: 2px solid rgba(58, 121, 79, 0.719);
            }
            .skill{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                border-bottom: 1px solid rgba(58, 121, 79, 0.719);
            }
        }
    }  
}